*,
html,
body {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body {
  font-size: 30px;
  background-color: #62a3a7;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.container {
  /*border: 1px solid #fff;  */
  width: 50%;
}

.container > label {
  display: flex;
  justify-content: center;
}

#formChoosePokemon {
  display: flex;
  flex-direction: column;
  width: auto;  
  margin: 10px;
}

#piechart {
  width: auto; 
  height: 500px; 
}


button {
  width: calc(100% - 20px);
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: #62a3a7;
  border: 2px solid #fff;
  color: #ecf0f1;
  border-radius: 5px;
  font-size: 30px;
  margin: 10px;
}

/*css for radio-buttons*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #ffffff;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #E65100;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}