* {
    margin: 0;
}
html, body {
    height: 100%;
}
.header {
  height: 100px;
  text-align: center;
  background-color: #f39c12;
}

header > p {
  font-size: 40px;
}

.columns {
  width: 50%;
  float: left;
  background-color: #16a085;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.foot, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 100px;
}
.foot {
  background-color: #f39c12;
  text-align: center;
}
