@main_color: #2980b9;
@main_color_light: #ecf0f1;
@text_color: #34495e;
@text_color_light: #ecf0f1;
@logo_text_size: 40px;
@menu_text_size: 20px;
@page_width: 960px;
@header_padding: 30px;
@presentation_padding: 30px;
@button_height: 40px;

*, html, body {
  font-family: Courier, monospace;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align:middle;
}

.main_backgroud_color {
  background-color: @main_color;
}

.main_backgroud_color_light {
  background-color: @main_color_light;
}

.menu {
  display: flex;
  color: @text_color;
  letter-spacing: -1px;
  font-size: @menu_text_size;
  text-align: right;
  width: auto;
  justify-content: flex-start;
}

.menu > p {
  margin: 10px;
  text-align: right;
  font-weight: 800;
  white-space: nowrap;
}

header{
  min-width: @page_width;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}

.logo {
    font-size: @logo_text_size;
    color: @text_color;
    font-weight: bold;
    width: auto;
}

.presentation {
  .main_backgroud_color;
  height: auto;
  display: inline-flex;
  vertical-align: bottom;
  color: @text_color_light;
}

.presentation > div {
  width: 50%;
  height: auto;
  text-align: center;
  padding-top: @presentation_padding;
  padding-bottom: @presentation_padding;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.buy p{
  padding-right: 30px;
  padding-left: 0px;
  text-align: justify;
  padding-right: @presentation_padding * 2;
}

.features {
  display: inline-flex;
  flex-direction: row;
}

.contact_us {
  .main_backgroud_color;
  // border: 1px solid #000;
}
header, .features, .contact_us, .presentation {
  width: @page_width;
  margin: 0 auto;
}

.one_feature {
  width: @page_width/3;
  margin: 0;
  height: auto;
  text-align: center;
  padding-top: @presentation_padding;
  padding-bottom: @presentation_padding;
  // border: 1px solid #000;
}

h2 {
  padding-bottom: 20px;
  text-align: left;
  color: @main_color_light;
}

.contact_us h2 {
  padding-top: @presentation_padding;
  padding-bottom: @presentation_padding;
  text-align: center;
  color: @main_color_light;
}

h4 {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  .main_backgroud_color
}

.container_light {
  .main_backgroud_color_light;
}

.buy .button {
  width: 40%;
}

.button {
  margin-top: 20px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: @button_height;
  background-color: @main_color;
  border: 2px solid #fff;
  color: @main_color_light;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: -2px;
}

.one_feature p {
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  text-align: justify;
  // border: 1px solid #0f0;
}
// icons
.fa {
  font-size: 70px !important;
  color: @main_color;
  margin-bottom: 30px;
  // border-radius: 70px !important;
}

form {
  width: @page_width*0.6;
  display: inline-block;
  color: @main_color_light;
  font-size: 20px;
  // border: 1px solid #0f0;
}

form > div {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 10px;
}

textarea, input {
  width: @page_width*0.8;
}

textarea {
  height: 100px;
  resize: none;
  width: @page_width*0.8;
}

input {
  height: 30px;
}

p {
  font-size: 18px;
}
